<% if @genre.errors.any? %>
  <% @genre.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @genre do |f| %>
  <p>
    Name:<br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<p>
  <%= link_to "Back to Genre List", genres_path %>
</p>
